
.form {
  min-width: 340px;
  font-family: sans-serif;
  font-weight: bold;
  background-color: #F2D4FE;
  border-radius: 25px;
  color: #3D3540;
  border-radius: 25px;
  border-width: 5px;
  border-color: #3D3540;

}

.header {
  color: #3D3540;
  text-align: center;
  background-color: #B69FBF;
  border-radius: 25px 25px 0px 0px;

}

.main {
  padding-left: 30px;
}

.footer {
  text-align: center;
}

.button {
  font-weight: bolder;
  color: #3D3540;
}
